
h1 {
  min-height: 1rem;
  font-size: 2rem;
  position: relative;
  left: 37vw;
  top: 5vh;
}


#canvas-container{
  position: relative;
  left: 36%;
  top: 6vh; 
}

#canvas{
  background-color: white;
  border: 5px solid black;
}

#clear-button{
  position: relative;
  left: 35vw;
  top: 5vh;
  width: 23vw;
}

@media only screen and (max-width: 40em) { 
h1 {
  min-height: 1rem;
  font-size: 2rem;
  position: fixed;
  left: 13vw;
  top: 5vh;
}


  #canvas-container{
    position: fixed;
    left: 15%;
    top: 12vh;
    touch-action: none;
  }
  
  #canvas{
    background-color: white;
    border: 5px solid black;
    touch-action: none;
  }
  
 
  #clear-button{
    position: fixed;
    left: 35vw;
    top: 70vh;
    width: 23vw;
  }
}

/* Need to add more media queries for differnet screen sizes */