#label-form {
  /* position: relative;
  left: 43.5vw;
  top: 4vh; */
  position: absolute;
  left: 31.5vw;
  top: 52vh;
  /* height: 34vh;
  margin-top: 0px; */
  width: 36vw;
  z-index: 1;
  color: black;
}



@media only screen and (max-width: 40em) {
  #label-form {
    position: relative;
    left: 32.5vw;
    top: 4vh;
  }
}

/* Tablets */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
  #label-form {
    position: relative;
    left: 32.5vw;
    top: 4vh;
  }
}


/* ExtraLarge */
@media only screen and (min-width: 90.063em) {
  #label-form {
    position: relative;
    left: 44.5vw;
    top: 4vh;
  }
 }